*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Rose', cursive;
}

body{
  margin: 1px;
}
.Header-section{
  display: flex;
  align-items: center;
  gap: 10.2rem;
  padding: 2.7rem 6.25rem 0;
}

.header-nav-elements{
  list-style-type: none;
  display: flex;
  gap: 3rem;
  align-items: center;
  color: #434343;
}

.connect-button{
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border: 1px;
  border-radius: 0.625rem ;
  padding: 0.94rem 1.69rem;
  color: white;
}

.hero-section{
  padding: 7.8rem 6.25rem 0;
  display: flex;
  gap: 6.2rem;
}

.word-side{
  inline-size: 35rem;
  overflow-wrap: break-word;
  padding-top: 1.88rem;
  color: #434343;
}

.hero-header{
  font-weight: 400;
  font-size: 3rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  padding-bottom: 3rem;
}

.hero-paragraph{
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.2rem;
  padding-bottom: 3rem;
}

.purple{
  color: #A02279;
  font-weight: 700;
}

.searchbar{
  width: 20rem;
  height: 3.1rem;
  background: rgba(247, 247, 247, 0.1);
  border: 1px solid #A3A3A3;
  border-radius: 0.5rem 0 0 0.5rem;
}

.search-button{
  padding: 1.06rem 5.43rem;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
  border-radius: 0 0.5rem 0.5rem 0;
  border: 1px;
  color: white;
}

.mid-logos{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.63rem 6.25rem;
  gap: 16.5rem;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  margin-top: 4.18rem;
}

.Nft{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  color: white;
  padding: 6.25rem;
}

.Nft-header{
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.75rem;
}

.nft-paragraph{
  
}

.footer-wrap{
  background: #1D1D1E;
  color: white;

}

.footer-rows{
  display: flex;
}