*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 1px;
}
.Header-section{
  display: flex;
  align-items: center;
  gap: 10.2rem;
  padding: 2.7rem 6.25rem 0;
}

.header-nav-elements{
  list-style-type: none;
  display: flex;
  gap: 3rem;
  align-items: center;
}

.hero-section{
  padding: 7.8rem 6.25rem 0;
  display: flex;
  gap: 6.2rem;
}

.word-side{
  inline-size: 32rem;
  overflow-wrap: break-word;
  padding-top: 1.88rem;
}

.hero-header{
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  padding-bottom: 3rem;
}

.hero-paragraph{
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  padding-bottom: 3rem;
}