*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Rose', cursive;
}

body{
  margin: 1px;
  position: relative;
  z-index: 1;
}
.Header-section{
  display: flex;
  align-items: center;
  gap: 10.2rem;
  padding: 2.7rem 6.25rem 0;
}

.header-nav-elements{
  list-style-type: none;
  display: flex;
  gap: 3rem;
  align-items: center;
  color: #434343;
}

.header-links{
  text-decoration: none;
  color: #434343;
}

.connect-button{
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border: 1px;
  border-radius: 0.625rem ;
  padding: 0.94rem 1.69rem;
  color: white;
}

.hero-section{
  padding: 7.8rem 6.25rem 0;
  display: flex;
  gap: 6.2rem;
}

.word-side{
  inline-size: 35rem;
  overflow-wrap: break-word;
  padding-top: 1.88rem;
  color: #434343;
}

.hero-header{
  font-weight: 400;
  font-size: 3rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  padding-bottom: 3rem;
}

.hero-paragraph{
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.2rem;
  padding-bottom: 3rem;
}

.purple{
  color: #A02279;
  font-weight: 700;
}

.searchbar{
  width: 20rem;
  height: 3.1rem;
  background: rgba(247, 247, 247, 0.1);
  border: 1px solid #A3A3A3;
  border-radius: 0.5rem 0 0 0.5rem;
}

.search-button{
  padding: 1.06rem 5.43rem;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
  border-radius: 0 0.5rem 0.5rem 0;
  border: 1px;
  color: white;
}

.mid-logos{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.63rem 6.25rem;
  gap: 16.5rem;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  margin-top: 4.18rem;
}

.Nft{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  color: white;
  padding: 6.25rem;
  gap: 7rem;
}

.Nft-word{
  inline-size: 30rem;
  overflow-wrap: break-word;
}

.Nft-header{
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.75rem;
}

.nft-paragraph{
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2.19rem;
  margin-top: 2.19rem;
}

.nft-image-side{
  width: 44rem;
}

.nft-image{
  width: 100%;
}

.nft-button{
  margin-top: 3.6rem;
  padding: 0.88rem 2.06rem;
  color: #A02279;
  border-radius: 0.5rem;
  border: 1px;
}

.footer-wrap{
  background: #1D1D1E;
  color: white;
  padding: 3.63rem 13rem 2.3rem 7rem;

}

.footer-rows{
  display: flex;
  gap: 11.7rem;
  /* align-items: center; */
}

.footer-links{
  display: flex;
  gap: 12rem;
  align-items: center;
}



.meta-img-footer{
  margin-bottom: 6rem;
}

.social-logos{
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 3.44rem;
}

.footer-headers{
  margin-bottom: 1.44rem;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  inline-size: 5rem;


}

.footer-element{
  margin-bottom: 1rem;
  inline-size: 5rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 35px;
}

.conect-header{
  display: flex;
  align-items: center;
  gap: 20.6rem;
  padding: 1.5rem 2rem;
}

.connect-wallet-button{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 2rem;
  padding: 0.75rem 1.25rem;
  width: 33.5rem;
  border: 1px solid #CFD8DC;
  border-radius: 0.75rem;
}

.connect-paragraph{
  padding: 2rem 0 1rem 2rem;
}

.metamask-button{
  margin-bottom: 1rem;
}

.walletconnect-button{
  margin-bottom: 2rem;
}

.wallet-logo{
  margin-right: auto;
}

.x-button:hover{
  cursor: pointer;
}

.connect-wallet-section{
  position: absolute;
  z-index: 2;
  top: 14rem;
  left: 30rem;
  background: white;
  border-radius: 1rem;
}

.inspiration{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.6rem;
  
}

.places-text{
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.75rem;
  text-align: center;
  color: #000000;
}

.cardlist{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: 2.69rem 6.25rem 3.3rem;

}

.card{
  position: relative;
  z-index: 1;
  border: 1px solid #D7D7D7;
  border-radius: 0.93rem;
  width: 18.25rem;
  padding: 1rem;
}
.card-details1, .card-details2{
  display: flex;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.8rem;
  color: #434343;
}

.card-details1{
  gap: 6.2rem;
  margin-bottom: 0.63rem;
}
.card-details2{
  gap: 1.5rem;
  margin-bottom: 0.56rem;
}

.price{
  font-weight: 700;
}

.heart-badge{
  position: absolute;
  z-index: 2;
  top: 1.3rem;
  left: 15rem;
}

.place-category{
  display: flex;
  gap: 4.06rem;
  /* justify-content: center; */
  align-items: center;
  margin: 8rem 0 0 6.25rem;

}

.category-list{
  display: flex;
  list-style: none;
  gap: 3rem;
}

.location-setting{
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #B4B4B4;
  border-radius: 0.5rem;
  padding: 0.75rem;
}


/* mobiile responsiveness */
@media only screen and (min-width : 360px) and (max-width : 440px){
  .header-images{
    display: flex;
    align-items: center;
  }
  .Header-section, .header-nav-elements{
    flex-direction: column;
  }
  .hero-section{
    padding: 7.8rem 4rem 0;
    flex-direction: column-reverse;
  }

  .word-side{
    inline-size: 16rem;
  }
  .searchbar{
    width: 10rem;
    border-radius: 0;
    
  }
  
  .search-button{
    padding: 1.06rem 3.55rem;
    border-radius: 0;
  }

  .hero-image{
    width: 17rem;
  }

  .mid-logos{
    flex-direction: column;
    gap: 8rem;
  }

  .cardlist{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 2.69rem 3.7rem 3.3rem;
  
  }

  .Nft{
    flex-direction: column;
  }

  .Nft-word{
    inline-size: 20rem;
    overflow-wrap: break-word;
  }

  .nft-image-side{
    width: 22rem;
  }

  
.footer-rows{
  flex-direction: column;
  gap: 8rem;
  /* align-items: center; */
}

.footer-links{
  flex-direction: column;
  gap: 8rem;
  align-items: center;
}

}

/* Tablet view */
@media only screen and (min-width : 650px) and (max-width : 900px){
  .header-images{
    display: flex;
    align-items: center;
  }
  .Header-section, .header-nav-elements{
    flex-direction: column;
  }
  .hero-section{
    padding: 7.8rem 4rem 0;
    flex-direction: column-reverse;
  }

  .word-side{
    inline-size: 16rem;
  }
  .searchbar{
    width: 10rem;
    border-radius: 0;
    
  }
  
  .search-button{
    padding: 1.06rem 3.55rem;
    border-radius: 0;
  }

  .hero-image{
    width: 17rem;
  }

  .mid-logos{
    flex-direction: column;
    gap: 8rem;
  }

  .cardlist{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 2.69rem 3.7rem 3.3rem;
  
  }

  .Nft{
    flex-direction: column;
  }

  .Nft-word{
    inline-size: 20rem;
    overflow-wrap: break-word;
  }

  .nft-image-side{
    width: 22rem;
  }

  
.footer-rows{
  flex-direction: column;
  gap: 8rem;
  /* align-items: center; */
}

.footer-links{
  flex-direction: column;
  gap: 8rem;
  align-items: center;
}

}